# Dependencies
node_modules/

# Build outputs
dist/
out/
cache/
artifacts/
typechain-types/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Hardhat
ignition/deployments/

# Logs
*.log
